@model dnc_300_movie_finder_data.Models.Search
@{
    ViewBag.Title = "FindMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="MovieResults" method="post">
    <label for="searchString">Search Movies:</label>
    <input type="text" name="searchString" placeholder="movie title to search"/>
    <input type="submit"/>
</form>


